<footer>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6 col-12 d-flex justify-content-md-start justify-content-center">
                <p class="text-nblue">Designed with <img class="miniicon"
                    src="../../../../assets/img/social/beating.gif" alt=""> by <a href="#">Colibrí</a></p>
            </div>
            <div class="col-sm-6 col-12 d-flex justify-content-md-end justify-content-center">
                <p class="mr-2 text-nwhite">Síguenos en redes sociales</p>
                <img class="socialicon" src="../../../../assets/img/social/twitter.png" alt="">
                <img class="socialicon" src="../../../../assets/img/social/facebook.png" alt="">
            </div>
        </div>
    </div>
</footer>