<div class="container-fluid spacer"></div>
<footer>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6 col-12 d-flex justify-content-md-start justify-content-center">
                <p class="text-nblue">Designed with <img class="miniicon"
                    src="../../../../assets/img/social/beating.gif" alt=""> by <a (click)="goColibri()">Colibrí</a></p>
            </div>
            <div class="col-sm-6 col-12 d-flex justify-content-md-end justify-content-center">
                <p class="mr-2 text-nwhite">Síguenos en redes sociales</p>
                <a href="https://www.facebook.com" target="_blank"><img class="socialicon" src="../../../../assets/img/social/twitter.png" alt=""></a>
                <a href="https://www.twitter.com" target="_blank"><img class="socialicon" src="../../../../assets/img/social/facebook.png" alt=""></a>
            </div>
        </div>
    </div>
</footer>