.img-title{
    text-align: center;
}

input{
    color: white;
}

.container{
    width: 50%;
}

.mat-form-field{
    padding-left: 0px;
}

.mat-label{
    padding-right: 0px;
}

.mat-form-field-infix{
    color: white;
}

.btn-center{
    margin-top: 20px;
    width: 100%;
}

// profile image

.user-img{
    align-items: center;
    padding-top: 10%;

    #avatar {
        display: none;
    }

    .profileImg {
        background-color: transparent;
        border: none;
        font-size: 16px;
        color: #f982ee;
        text-shadow: 0px 0px 7px #e02fcb;
        padding: 0 10px;
        transition: all .5s;
    }
    #avatar:hover,
    .profileImg:hover {
    cursor: pointer;
        font-size: 17px;
        border-bottom: 1px solid #f982ee;
    }

    img {
        border-radius: 50%;
        padding: 2px;
        margin: 2px;
        object-fit: cover;
        margin-bottom: 11px;
        border: 1px solid #b3ff66;
        box-shadow: 0px 0px 17px #71db07;
    }

    .continer-img-user{
        width: 180px;
        height: 180px;
        overflow: hidden;
        margin: 10px;
        position: relative;

        img{
            position:absolute;
            left: -100%;
            right: -100%;
            top: -100%;
            bottom: -100%;
            margin: auto;
            min-height: 100%;
            min-width: 100%;
        }
    }

}

// premium

.premium{
    padding-top: 20px;
}
