.feat-estreno {
    width: 100vw;
    height: 80vh;
    background-image: url(../../../assets/readyplayerone.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.title-estreno {
    max-width: 400px;
}