<app-upload-movie *ngIf="configService.page=='mostViewed'"></app-upload-movie>
<app-upload-movie *ngIf="configService.page=='lastReleases'"></app-upload-movie>
<app-upload-movie *ngIf="configService.page=='recommendations'"></app-upload-movie>
<app-upload-movie *ngIf="configService.page=='favorites'"></app-upload-movie>
<app-upload-movie *ngIf="configService.page=='pizza'"></app-upload-movie>
<app-upload-movie *ngIf="configService.page=='profile'"></app-upload-movie>
<app-upload-movie *ngIf="configService.page=='uploadMovie'"></app-upload-movie>