<!-- Estreno destacado -->
<div class="container-fluid">
    <div class="row">
        <div class="col feat-estreno">
            <div class="main-estreno">
                <img class="title-estreno" src="../../../assets/titles/pizzawars.svg" alt="">
                <h2>Título de la película</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis voluptatibus esse, fugit velit,
                    nesciunt voluptatem maxime cupiditate aliquam fugiat commodi iure, distinctio nemo odio maiores
                    repellendus? Maiores, delectus at? Dolorum.</p>
            </div>

        </div>
    </div>
</div>


<app-upload-movie *ngIf="configService.page=='mostViewed'"></app-upload-movie>
<app-last-releases *ngIf="configService.page=='lastReleases'"></app-last-releases>
<app-upload-movie *ngIf="configService.page=='recommendations'"></app-upload-movie>
<app-favorites *ngIf="configService.page=='favorites'"></app-favorites>
<app-pizza *ngIf="configService.page=='pizza'"></app-pizza>
<app-profile *ngIf="configService.page=='profile'"></app-profile>
<app-upload-movie *ngIf="configService.page=='uploadMovie'"></app-upload-movie>