<div class="container">
    <div class="row">
        <div class="col-12">
            <img src="../../../assets/img/titles/sobrecolibri.svg" class="titulo img-fluid mx-auto d-block"
                alt="Título Página About Us de Colibri">
        </div>
    </div>

    <div class="row align-items-center justify-content-around">

        <div class="col-12-col-md-6">
            <div class="tag-wrap-vanesora row">
                <img src="../../../assets/colibri-photos/VanessaSora.jpeg" width="278"
                    class="clip-circle img-fluid mx-auto d-block" alt="Foto de Vanessa Sora">
            </div>
            <div class="row my-3">
                <div class="col-12">
                    <p class="name text-nwhite">Vanessa Sora</p>
                </div>
                <div class="col-12">
                    <p class="work text-nwhite">Líder Técnica</p>
                </div>
            </div>
        </div>

        <div class="col-12 col-md-6">
            <div class="row">
                <div class="col-12">
                    <p class="text-nwhite"><span class="text-ngreen">Pizza favorita: </span>Búfala de <a
                            href="https://www.dqm.com.co/pizzas-bufala">DQM</a>
                    </p>
                </div>
                <div class="col-12">
                    <p class="text-nwhite">“La combinación entre queso búfala y albaha es perfecta, mezcla de sabores
                        que no he
                        experimentado en otro lado, la masa es artesanal y la atención es excelente.”</p>
                </div>
                <div class="col-12">
                    <p class="text-nwhite"><span class="text-ngreen">Pelicula Favorita Ciencia ficción: </span>AVATAR
                    </p>
                </div>
                <div class="col-12">
                    <p class="text-nwhite">“Me gusta porque es una película que muestra un futuro en donde los humanos
                        acabamos con
                        nuestro ecosistema y no felices con eso quieren acabar otros ecosistema, me parece que nos
                        hace reflexionar sobre nuestras acciones como individuos y ademas como especie, además que
                        tiene un gran elenco, buenos efectos especiales, música, animación y fotografía.”</p>
                </div>
            </div>
        </div>
    </div>

    <div id="Camila" class="row align-items-center justify-content-around">
        <div class="col-12 col-md-6">
            <div class="row">
                <div class="col-12">
                    <p class="text-nwhite"><span class="text-ngreen">Pizza favorita: </span>Deep Dish Pizza de <a
                            href="https://www.facebook.com/stromboliddp/">Stromboli</a>
                    </p>
                </div>
                <div class="col-12">
                    <p class="text-nwhite">“Es el único lugar en Bogotá con Deep Dish Pizza y queda en Quinta Camacho.
                        La hacen en una lata más profunda y tiene mucho más rellenito que otras pizzas.”</p>
                </div>
                <div class="col-12">
                    <p class="text-nwhite"><span class="text-ngreen">Pelicula Favorita Ciencia ficción: </span>Doctor
                        Who
                    </p>
                </div>
                <div class="col-12">
                    <p class="text-nwhite">“En especial las de navidad. Me gusta porque, además de que conectan una
                        serie con muchos muchos episodios, el
                        Doctor me parece un personaje divertido y me gusta la forma en la que resuelve las cosas con los
                        habitantes de otros planetas (y el hecho de que haya muchos planetas). Las recomiendo porque
                        mezclan ciencia, naves espaciales (la TARDIS) y personajes bobos de una forma poco predecible.”
                    </p>
                </div>
            </div>
        </div>

        <div class="col-12-col-md-6">
            <div class="tag-wrap-camila row">
                <img src="../../../assets/colibri-photos/CamilaHermida.jpg" width="278"
                    class="clip-circle img-fluid mx-auto d-block" alt="Foto de Camila Hermida">
            </div>
            <div class="row my-3">
                <div class="col-12">
                    <p class="name text-nwhite">Camila Hermida</p>
                </div>
                <div class="col-12">
                    <p class="work text-nwhite">SCRUM Master</p>
                </div>
            </div>
        </div>
    </div>

    <div class="row align-items-center justify-content-around">

        <div class="col-12-col-md-6">
            <div class="tag-wrap-dayana row">
                <img src="../../../assets/colibri-photos/DayanaJimenez.jpg" width="278"
                    class="clip-circle img-fluid mx-auto d-block" alt="Foto de Dayana Jimenez">
            </div>
            <div class="row my-3">
                <div class="col-12">
                    <p class="name text-nwhite">Dayana Jimenez</p>
                </div>
                <div class="col-12">
                    <p class="work text-nwhite">Desarrolladora</p>
                </div>
            </div>
        </div>

        <div class="col-12 col-md-6">
            <div class="row">
                <div class="col-12">
                    <p class="text-nwhite"><span class="text-ngreen">Pizza favorita: </span>Toscana Seis Quesos de <a
                            href="https://www.papajohns.com.co/productos/detalle/toscana-seis-quesos">Papa John's</a>
                    </p>
                </div>
                <div class="col-12">
                    <p class="text-nwhite">“Me encanta la combinación de sabores y texturas, es una pizza ligera y
                        combina con todo, es el acompañante perfecto de una buena película”</p>
                </div>
                <div class="col-12">
                    <p class="text-nwhite"><span class="text-ngreen">Pelicula Favorita Ciencia ficción: </span>Mr.
                        Nobody
                    </p>
                </div>
                <div class="col-12">
                    <p class="text-nwhite">“Una película que te tienes que ver una y otra vez para realmente entenderla,
                        te atrapa de inicio a fin, pues cada fragmento de ella incide en los posibles desenlaces,
                        entenderás como tus decisiones te pueden cambiar la vida... no te la pierdas!!”</p>
                </div>
            </div>
        </div>
    </div>

    <div id="Vanessa" class="row align-items-center justify-content-around">
        <div class="col-12 col-md-6">
            <div class="row">
                <div class="col-12">
                    <p class="text-nwhite"><span class="text-ngreen">Pizza favorita: </span>Formaggi de <a
                            href="http://juliapizzeria.com/menu/pizza//">Julia</a>
                    </p>
                </div>
                <div class="col-12">
                    <p class="text-nwhite">“Es una pizza de 4 quesos y masa rústica horneada en leña, tiene sabores
                        intensos, salados y picantes, va muy bien con vino blanco.”</p>
                </div>
                <div class="col-12">
                    <p class="text-nwhite"><span class="text-ngreen">Pelicula Favorita Ciencia ficción: </span>The Man
                        from the Earth
                    </p>
                </div>
                <div class="col-12">
                    <p class="text-nwhite">“Es una apasionante historia de un profesor universitario infinitamente sabio
                        con amigos académicos y arraigados a sus conocimientos, todo gira en torno a un juego mental que
                        realiza el profesor a sus amigos intentando hacerles una confesión, pero todo termina en
                        desastre y se desencadena el pánico que termina en un giro fatal. La recomiendo porque es una
                        película fascinante llena de elementos que ponen a pensar al espectador y lo deja crear su
                        propia versión del nudo, es un análisis del origen de hombre y de lo que adoptamos como nuestro
                        en materia de conocimiento.”
                    </p>
                </div>
            </div>
        </div>

        <div class="col-12-col-md-6">
            <div class="tag-wrap-vanessah row">
                <img src="../../../assets/colibri-photos/VanessaHernandez.jpeg" width="278"
                    class="clip-circle img-fluid mx-auto d-block" alt="Foto de Vanessa Hernández">
            </div>
            <div class="row my-3">
                <div class="col-12">
                    <p class="name text-nwhite">Vanessa Hernández</p>
                </div>
                <div class="col-12">
                    <p class="work text-nwhite">Desarrolladora</p>
                </div>
            </div>
        </div>
    </div>

    <div class="row align-items-center justify-content-around">

        <div class="col-12-col-md-6">
            <div class="tag-wrap-laura row">
                <img src="../../../assets/colibri-photos/LauraCastro.jpg" width="278"
                    class="clip-circle img-fluid mx-auto d-block" alt="Foto de Laura Castro">
            </div>
            <div class="row my-3">
                <div class="col-12">
                    <p class="name text-nwhite">Laura Castro</p>
                </div>
                <div class="col-12">
                    <p class="work text-nwhite">Desarrolladora</p>
                </div>
            </div>
        </div>

        <div class="col-12 col-md-6">
            <div class="row">
                <div class="col-12">
                    <p class="text-nwhite"><span class="text-ngreen">Pizza favorita: </span>3 Setas al Ajillo de <a
                            href="http://www.aprissapizza.com/menu-2/">Aprissa Pizza</a>
                    </p>
                </div>
                <div class="col-12">
                    <p class="text-nwhite">“Es una pizza vegetariana deliciosa, si le pueden poner picante es
                        inmejorable y va perfecto con una cerveza.”</p>
                </div>
                <div class="col-12">
                    <p class="text-nwhite"><span class="text-ngreen">Serie Favorita Ciencia ficción: </span>Dark
                    </p>
                </div>
                <div class="col-12">
                    <p class="text-nwhite">“Serie alemana lanzada en Netflix en 2017. Todo empieza cuando un niño de un
                        pequeño pueblo desaparece, al principio no parece nada especial pero alrededor de esto se
                        entretejen relaciones de poder complejas y eventos que se entrecruzan y rompen la linealidad
                        percibida del tiempo. Es una serie que vale la pena vérsela varias veces, cada vez encuentra uno
                        algo nuevo. Por ahora va en su segunda temporada y la siguiente será su última.”</p>
                </div>
            </div>
        </div>
    </div>

    <div id="Katherine" class="row align-items-center justify-content-around">
        <div class="col-12 col-md-6">
            <div class="row">
                <div class="col-12">
                    <p class="text-nwhite"><span class="text-ngreen">Pizza favorita: </span>Toscana Seis Quesos de <a
                            href="https://www.papajohns.com.co/productos/detalle/toscana-seis-quesos">Papa John's</a>
                    </p>
                </div>
                <div class="col-12">
                    <p class="text-nwhite">“Mi pizza favorita es la toscana seis quesos de papá jhons ya que adoro el
                        queso en todas sus presentaciones además hasta la masa es una delicia”</p>
                </div>
                <div class="col-12">
                    <p class="text-nwhite"><span class="text-ngreen">Pelicula Favorita Ciencia ficción: </span>El Origen
                    </p>
                </div>
                <div class="col-12">
                    <p class="text-nwhite">“Es una película que nos invita a pensar sobre el potencial de nuestro
                        cerebro y la manera cómo percibimos nuestra realidad.”
                    </p>
                </div>
            </div>
        </div>

        <div class="col-12-col-md-6">
            <div class="tag-wrap-katherine row">
                <img src="../../../assets/colibri-photos/KatherineOrjuela.jpg" width="278"
                    class="clip-circle img-fluid mx-auto d-block" alt="Foto de Vanessa Hernández">
            </div>
            <div class="row my-3">
                <div class="col-12">
                    <p class="name text-nwhite">Katherine Orjuela</p>
                </div>
                <div class="col-12">
                    <p class="work text-nwhite">Tester</p>
                </div>
            </div>
        </div>
    </div>

    <div class="row align-items-center justify-content-around">

        <div class="col-12-col-md-6">
            <div class="tag-wrap-linda row">
                <img src="../../../assets/colibri-photos/LindaLopez.jpg" width="278"
                    class="clip-circle img-fluid mx-auto d-block" alt="Foto de Linda López">
            </div>
            <div class="row my-3">
                <div class="col-12">
                    <p class="name text-nwhite">Linda López</p>
                </div>
                <div class="col-12">
                    <p class="work text-nwhite">Tester</p>
                </div>
            </div>
        </div>

        <div class="col-12 col-md-6">
            <div class="row">
                <div class="col-12">
                    <p class="text-nwhite"><span class="text-ngreen">Pizza favorita: </span>Pizza Pancetta de <a
                            href="https://pizzacandelaria.com.co/producto/pancetta/">Pizza Candelaria</a>
                    </p>
                </div>
                <div class="col-12">
                    <p class="text-nwhite">“Su masa y mezcla de sabores es indiscriptible, el mejor lugar para pasar una
                        tarde de amigos acompañado de sus deliciosas limonada naturales .”</p>
                </div>
                <div class="col-12">
                    <p class="text-nwhite"><span class="text-ngreen">Serie Favorita Ciencia ficción: </span>Sense8
                    </p>
                </div>
                <div class="col-12">
                    <p class="text-nwhite">“En una temática extrasensorial que captura por la trama de que existan super
                        humanos, personas a las que la evolución les permitió dar un salto para conectar a varios
                        individuos, en este caso específico a 8 personas alrededor del mundo que pueden sentir lo mismo,
                        personas conectadas con habilidades tan magníficas que amenazarían todo el concepto de la
                        evolución y la humanidad.”</p>
                </div>
            </div>
        </div>
    </div>

    <div id="Natalia" class="row align-items-center justify-content-around">
        <div class="col-12 col-md-6">
            <div class="row">
                <div class="col-12">
                    <p class="text-nwhite"><span class="text-ngreen">Pizza favorita: </span>Jamón Serrano y Rúgula de <a
                            href="https://www.facebook.com/pietrapizzagourmet">Pietra Pizza Gourmet</a>
                    </p>
                </div>
                <div class="col-12">
                    <p class="text-nwhite">“Tiene una mezcla de sabores exóticos y especiales que hacen de cada bocado
                        una nueva experiencia sensorial.”</p>
                </div>
                <div class="col-12">
                    <p class="text-nwhite"><span class="text-ngreen">Pelicula Favorita Ciencia ficción: </span>Misión
                        rescate
                    </p>
                </div>
                <div class="col-12">
                    <p class="text-nwhite">“La obsesión del ser humano con la vida fuera de la Tierra y llegar a
                        conquistar otros planetas nos lleva a esta increíble perspectiva. Una mente maestra que intenta
                        sobrevivir a las condiciones externas de un país extraño completamente solo. IMPERDIBLE!”
                    </p>
                </div>
            </div>
        </div>

        <div class="col-12-col-md-6">
            <div class="tag-wrap-natalia row">
                <img src="../../../assets/colibri-photos/NataliaCanasto.jpg" width="278"
                    class="clip-circle img-fluid mx-auto d-block" alt="Foto de Natalia Canasto">
            </div>
            <div class="row my-3">
                <div class="col-12">
                    <p class="name text-nwhite">Natalia Canasto</p>
                </div>
                <div class="col-12">
                    <p class="work text-nwhite">Desarrolladora</p>
                </div>
            </div>
        </div>
    </div>
</div>
