<!-- <header>
    <div class="container-fluid px-3">
        <div class="row">
            <div class="col">
                <nav class="navbar sticky-top">
                    <a class="navbar-brand" href="#!">[Logo]</a>
                    <button class="btn btn-primary">Iniciar sesión</button>
                </nav>
            </div>
        </div>
    </div>
</header> -->

<mat-toolbar class="navbar">
        <a class="navbar-brand" href="#!" >[Logo]</a>
        <button class="btn btn-primary">Iniciar sesión</button>
</mat-toolbar>
<div class="space-navbar">

</div>

<app-register></app-register>

<router-outlet></router-outlet>