<mat-toolbar class="navbar">
        <a class="navbar-brand" href="#!">[Logo]</a>
        <button class="btn btn-primary">Iniciar sesión</button>
</mat-toolbar>
<div class="space-navbar"></div>
<app-home></app-home>
<app-preview *ngIf=login></app-preview>
<mat-sidenav-container *ngIf="!login">
        <mat-sidenav mode="side" [(opened)]="opened" (opened)="events.push('open!')" (closed)="events.push('close!')">
                Sidenav content
        </mat-sidenav>

        <mat-sidenav-content>
                <div style="height: 88vh;">
                        <router-outlet></router-outlet>
                </div>
        </mat-sidenav-content>
</mat-sidenav-container>
