<header>
        <app-header></app-header>
</header>
<div class="space-navbar"></div>
<router-outlet *ngIf="storageService.page !='Home'"></router-outlet>

<!-- <button  mat-button (click)="openDialog()"> boton prueba</button> -->

<button  mat-button (click)="openDialog('Premium')">Hazte premium</button>
<button  mat-button (click)="openDialog('Pizza')">Comprar pizza</button>
<mat-sidenav-container *ngIf="storageService.page =='Home'">
        <mat-sidenav class="background" mode="side" [(opened)]="opened" (opened)="events.push('open!')"
                (closed)="events.push('close!')">
                <app-menu></app-menu>
        </mat-sidenav>
        <mat-sidenav-content>
                <div style="height: 88vh;">
                        <router-outlet></router-outlet>
                </div>
        </mat-sidenav-content>
</mat-sidenav-container>
<app-footer></app-footer>