.card-favorites{
 width: 95%;
 height: 100%;
}

.img-title-favs {
    width: 100%;
    background-image: url(../../../../../assets/img/titles/favoritas.svg);
    min-height: 200px;
    background-repeat: no-repeat;
    background-position: top center;
    background-size: inherit;
    margin: 17px 0;
}

mat-card{
    background-color: #202031;
    box-shadow: 0px 0px 11px black;
    padding: 17px;
    color: wheat;
    align-items: center;
    overflow-y:auto;    
}

.item{
    background-color: #0e0e16;
    margin: 10px;
    font-size: 20px;
    cursor: default;
    padding: 11px;
    margin: 20px;
    overflow: visible;

    &:hover {
        background-color: #2d2d3f;
        box-shadow: 0px 0px 5px #1ba6b3;
        transition: all .4s;
    }
}

.item-select{
    box-shadow: 0px 0px 17px #71db07;
}

.poster-pic { 
    max-width: 100%;
    padding: 21px;
}

.card-fav-title {
    margin-left: 21px;
}