<div class="card-favorites">
    <div class="img-title-favs"></div>
    <div class="row">
        <mat-card class="col-5 offset-1">
            <div *ngFor="let movie of favorites">
                <div class="item" (click)="select(movie)" [ngClass]="{'item-select': movie == movieSelect}">
                    Título: {{movie.title}} - Género: {{movie.type}}
                </div>

            </div>
        </mat-card>

        <div class="col-3" *ngIf="movieSelect">
            <div class="title text-npink">{{movieSelect.title}}</div>
            <div class="type text-nblue">{{movieSelect.type}}</div>
            <div class="description">{{movieSelect.description}}</div>
            <button>ver</button>
        </div>
        <div class="col-2" *ngIf="movieSelect">
            <div *ngIf="!movieSelect.picture && movieSelect.type=='Comedia'">
                <img src="../../../../../assets/img/comedia.png" alt="">
            </div>
            <div *ngIf="!movieSelect.picture && movieSelect.type=='Drama'">
                <img src="../../../../../assets/img/drama.png" alt="">
            </div>
            <div *ngIf="!movieSelect.picture && movieSelect.type=='Anime'">
                <img src="../../../../../assets/img/anime.png" alt="">
            </div>
            <div *ngIf="!movieSelect.picture && movieSelect.type=='Romance'">
                <img src="../../../../../assets/img/romance.png" alt="">
            </div>
            <div *ngIf="movieSelect.picture">
                <img src="{{url+'get-picture-movie/'+movieSelect.picture}}" alt="">
            </div>
        </div>
    </div>
</div>