<div class="list">
    <div id="popularCarousel" class="carousel slide" data-ride="carousel">
        <div class="img-title-popular"></div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="card-cont">
                    <div class="card">
                        <div class="movieImage">
                            <div class="bg-black-blue detailsMovie">
                                <h5 class="card-title">Título 1</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the
                                    bulk
                                    of
                                    the
                                    card's content.</p>
                                <a href="#" class="btn btn-primary">Reproducir</a>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="movieImage">
                            <div class="bg-black-blue detailsMovie">
                                <h5 class="card-title">Título</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the
                                    bulk
                                    of
                                    the
                                    card's content.</p>
                                <a href="#" class="btn btn-primary">Reproducir</a>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="movieImage">
                            <div class="bg-black-blue detailsMovie">
                                <h5 class="card-title">Título</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the
                                    bulk
                                    of
                                    the
                                    card's content.</p>
                                <a href="#" class="btn btn-primary">Reproducir</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="card-cont">
                    <div class="card">
                        <div class="movieImage">
                            <div class="bg-black-blue detailsMovie">
                                <h5 class="card-title">Título</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the
                                    bulk
                                    of
                                    the
                                    card's content.</p>
                                <a href="#" class="btn btn-primary">Reproducir</a>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="movieImage">
                            <div class="bg-black-blue detailsMovie">
                                <h5 class="card-title">Título</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the
                                    bulk
                                    of
                                    the
                                    card's content.</p>
                                <a href="#" class="btn btn-primary">Reproducir</a>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="movieImage">
                            <div class="bg-black-blue detailsMovie">
                                <h5 class="card-title">Título</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the
                                    bulk
                                    of
                                    the
                                    card's content.</p>
                                <a href="#" class="btn btn-primary">Reproducir</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev text-nwhite" href="#popularCarousel" role="button" data-slide="prev">
            <span aria-hidden="true"><i class="fab fa-galactic-senate fa-rotate-270 fa-2x"></i></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next text-nwhite" href="#popularCarousel" role="button" data-slide="next">
            <span aria-hidden="true"><i class="fab fa-galactic-senate fa-rotate-90 fa-2x"></i></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>