
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$pizzaMovie-primary: mat-palette($mat-indigo);
$pizzaMovie-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$pizzaMovie-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$pizzaMovie-theme: mat-light-theme($pizzaMovie-primary, $pizzaMovie-accent, $pizzaMovie-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($pizzaMovie-theme);






/* Estilos globales */
/* Fuentes */
@import url('https://fonts.googleapis.com/css?family=Parisienne|Roboto+Condensed:400,700|Share+Tech&display=swap');

/* --- GENERAL --- */
* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

body {
    margin: 0;
    font-family: 'Roboto Condensed', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    background-color: #0e0e16;
    overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Share Tech';
    color: #f982ee;
    text-shadow: 0px 0px 7px #e02fcb;
}

/* Efectos neón */

/* Fuentes */
.text-npink {
    color: #f982ee;
    text-shadow: 0px 0px 3px #e02fcb;
}

.text-nblue {
    color: #7ee9f3;
    text-shadow: 0px 0px 3px #1ba6b3;
}

.text-ngreen {
    color: #b3ff66;
    text-shadow: 0px 0px 3px #71db07;
}

.text-nyellow {
    color: #fdf787;
    text-shadow: 0px 0px 3px #dfd62f;
}

.text-norange {
    color: #ffe16b;
    text-shadow: 0px 0px 3px #dab00b;
}

.text-nwhite {
    color: #ffffff;
    text-shadow: 0px 0px 3px #c7c7c7;
}

/* Bloques Neón */
.bg-npink {
    background-color: #f982ee;
    box-shadow: 0px 0px 5px #e02fcb;
}

.bg-nblue {
    background-color: #7ee9f3;
    box-shadow: 0px 0px 5px #1ba6b3;
}

.bg-ngreen {
    background-color: #b3ff66;
    box-shadow: 0px 0px 5px #71db07;
}

.bg-nyellow {
    background-color: #fdf787;
    box-shadow: 0px 0px 5px #dfd62f;
}

.bg-norange {
    background-color: #ffe16b;
    box-shadow: 0px 0px 5px #dab00b;
}

.bg-nwhite {
    background-color: #ffffff;
    box-shadow: 0px 0px 5px #c7c7c7;
}


/* Botones */

.btn {
    font-family: 'Share Tech';
    border-radius: 0;
}

.btn-primary {
    background-color: #0e0e16;
    border: 1px white solid;
    color: white;
    border-radius: 0;
    
    &:hover {
        background-color: #0e0e16;
        border: 1px solid hotpink;
        box-shadow: 0px 0px 5px #c7c7c7;
        transition: .4s;
        color: #f982ee;
        text-shadow: 0px 0px 7px #e02fcb;
    }
}


/* Navbar */

.mat-toolbar{
    background-color: transparent;
    position: fixed;
    top: 0;
    z-index: 2;
    box-sizing: border-box;
}

.space-navbar{
    height: 100px;
}

.navbar {
    border-bottom: 1px white solid;
    margin: 0 11px;
    box-sizing: border-box;
    width: 100%;
    padding: 31px 0 11px 21px;
    .navbar-brand {
        color: #f982ee;
        text-shadow: 0px 0px 7px #e02fcb;
        font-family: 'Share Tech';
        font-size: 35px;
    }
}

/* Spinner */

.mat-dialog-container{
    box-shadow: none;
      background: rgba(0, 0, 0, 0.0);
}


/* Menu */

.mat-sidenav-container{
    background-color: #0e0e16;

    height: calc(100% - 50px);;

    .mat-drawer{
        right: 0;
    }
}


/* --- FOOTER --- */
footer {
    padding: 11px;
    margin: 50px 25px 0;
    max-width: 100vw;
    box-sizing: border-box;
    border-top: 1px solid white;

    .socialicon {
        max-height: 27px;
        object-fit: contain;
    }
}



