
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$pizzaMovie-primary: mat-palette($mat-indigo);
$pizzaMovie-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$pizzaMovie-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$pizzaMovie-theme: mat-light-theme($pizzaMovie-primary, $pizzaMovie-accent, $pizzaMovie-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($pizzaMovie-theme);

/* Estilos globales */
/* Fuentes */
@import url('https://fonts.googleapis.com/css?family=Parisienne|Roboto+Condensed:400,700|Share+Tech&display=swap');

$custom-typography: mat-typography-config(
  $font-family: 'Share Tech',
  $headline: mat-typography-level(32px, 48px, 700),
  $body-1: mat-typography-level(16px, 24px, 500)
);

@include angular-material-typography($custom-typography);

/* --- GENERAL --- */
* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

body {
    margin: 0;
    font-family: 'Roboto Condensed', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    background-color: #0e0e16;
    overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Share Tech' !important;
    color: #f982ee;
    text-shadow: 0px 0px 7px #e02fcb;
}

a {
    color: #7ee9f3;
    text-shadow: 0px 0px 3px #1ba6b3;

    &:hover {
        color: #ffffff;
        text-shadow: 0px 0px 3px #c7c7c7;
        transition: .4s;
        text-decoration: none;
    }
}

.lead {
    color: white;
}

.logoini {
    max-width: 40%;
}

/* Cursiva */
.parisienne {
    font-family: 'Parisienne';
    font-size: 30px;
    margin: -210px -15px 0 0;
    z-index: 100;
}

/* Share Tech */
.share-tech {
    font-family: 'Share Tech' !important;
}

/* Efectos neón */

/* Fuentes */
.text-npink {
    color: #f982ee;
    text-shadow: 0px 0px 3px #e02fcb;
}

.text-nblue {
    color: #7ee9f3;
    text-shadow: 0px 0px 3px #1ba6b3;
}

.text-ngreen {
    color: #b3ff66;
    text-shadow: 0px 0px 3px #71db07;
}

.text-nyellow {
    color: #fdf787;
    text-shadow: 0px 0px 3px #dfd62f;
}

.text-norange {
    color: #ffe16b;
    text-shadow: 0px 0px 3px #dab00b;
}

.text-nwhite {
    color: #ffffff;
    text-shadow: 0px 0px 3px #c7c7c7;
}

.tech-text {
    font-family: 'Share Tech';
}

/* Bloques Neón */
.bg-npink {
    background-color: #f982ee;
    box-shadow: 0px 0px 5px #e02fcb;
}

.bg-nblue {
    background-color: #7ee9f3;
    box-shadow: 0px 0px 5px #1ba6b3;
}

.bg-ngreen {
    background-color: #b3ff66;
    box-shadow: 0px 0px 5px #71db07;
}

.bg-nyellow {
    background-color: #fdf787;
    box-shadow: 0px 0px 5px #dfd62f;
}

.bg-norange {
    background-color: #ffe16b;
    box-shadow: 0px 0px 5px #dab00b;
}

.bg-nwhite {
    background-color: #ffffff;
    box-shadow: 0px 0px 5px #c7c7c7;
}

.bg-black-green {
    background-color: #0e0e16;
    padding: 7px 15px;
    border: 1px solid #b3ff66;
    box-shadow: 0px 0px 5px #71db07;
    margin-bottom: 17px;
}

.bg-black-blue {
    background-color: #0e0e16;
    padding: 7px 15px;
    border: 1px solid #7ee9f3;
    box-shadow: 0px 0px 5px #1ba6b3;
    margin-bottom: 17px;
}


/* Botones */

.btn {
    font-family: 'Share Tech';
    border-radius: 0;
}

.btn-primary {
    background-color: #0e0e16;
    border: 1px white solid;
    color: white;
    border-radius: 0;
    
    &:visited {
        background-color: #0e0e16;
        border: 1px solid hotpink;
        box-shadow: 0px 0px 5px #c7c7c7;
        transition: .4s;
        color: #f982ee;
        text-shadow: 0px 0px 7px #e02fcb;
    }
    &:active,
    &:focus,
    &:hover {
        background-color: #0e0e16;
        border: 1px solid hotpink;
        box-shadow: 0px 0px 5px #c7c7c7;
        transition: .4s;
        color: #f982ee;
        text-shadow: 0px 0px 7px #e02fcb;
    }
    &:focus {
        background-color: #0e0e16 !important;
        border: 1px solid hotpink !important;
        box-shadow: 0px 0px 5px #c7c7c7;
        transition: .4s;
        color: #f982ee;
        text-shadow: 0px 0px 7px #e02fcb;
    }
    &:active {
        background-color: #0e0e16;
        border: 1px solid hotpink;
        box-shadow: 0px 0px 5px #c7c7c7;
        transition: .4s;
        color: #f982ee;
        text-shadow: 0px 0px 7px #e02fcb;
    }
}


/* Navbar */

.mat-toolbar{
    background-color: #0e0e16;
    position: fixed;
    top: 0;
    z-index: 2;
    box-sizing: border-box;
}

.space-navbar{
    height: 70px;
}

.navbar {
    /* border-bottom: 1px white solid; */
    margin: 0 11px;
    box-sizing: border-box;
    width: 100%;
    padding: 0;

    .profi {
        height: 35px;
        width: 35px;
        border-radius: 50%;
        object-fit: cover;
        margin: 0 11px;

        &::after {
            border-right: 1px solid white;
        }
    }

    .navbar-brand {
        color: #f982ee;
        text-shadow: 0px 0px 7px #e02fcb;
        font-family: 'Share Tech';
        font-size: 30px;
    }
    /* .right {
        width: 35%;
        box-sizing: border-box;
        display: flex;
        justify-content: space-around;
        align-items: center;
        font-family: 'Share Tech';
        font-size: 15px;
    }
    .left {
        box-sizing: border-box;
        width: 65%;
    } */
}

/* Spinner */

.mat-dialog-container{
    box-shadow: none;
    background: rgba(0, 0, 0, 0.0);
    height: 500px
}


/* Menu */

.mat-drawer-inner-container{
    height: 100%;
    width: 100px;
}

.mat-sidenav-container{
    background-color: #0e0e16;
    height: calc(100% - 75px);
}

.mat-drawer{
    right: 0;
}
.mat-drawer-content {
    margin-left: 0 !important;
}

.mat-sidenav-content{
    height: calc(100%-70px);
    overflow-y: hidden;
}
.boton{
    display: none;
  }

/* --- FOOTER --- */
footer {
    padding: 11px;
    font-size: 15px;
    margin: 10px 25px 0;
    max-width: 100vw;
    box-sizing: border-box;
    border-top: 1px solid white;

    .socialicon {
        max-height: 27px;
        object-fit: contain;
    }

    .miniicon {
        max-height: 17px;
    }
}


/*  FORMS  */

.mat-form-field-appearance-legacy .mat-form-field-underline{
    background-color: #b3ff66;
}
.mat-select-value-text{
    color: white;
}

.mat-select-arrow{
    color: #b3ff66;
}

.mat-checkbox .mat-checkbox-frame{
    border-color: white;
}

/* --- MISC --- */
.spacer {
    height: 50px;
}


/* Bolita Sticky */
.sphere {
    border-radius: 50%;
    position: fixed;
    bottom: 85px;
    left: 25px;
    z-index: 25;
    height: 55px;
    width: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 27px;
    a, button {
        color: white;
        text-shadow: none;
        border: none;
        background-color: transparent;
        box-shadow: none;
        &:hover {
            text-shadow: #e02fcb;
        }
    }
}

.sphere:hover {
    background-color: #f982ee;
    box-shadow: 0px 0px 5px #e02fcb;
    transition: all .4s;
}

/* Texto en hover de Bolita Sticky */
.pop-sphere {
    padding: 11px;
    position: fixed;
    font-size: 15px;
    opacity: 0;
    left: 135px;
    background-color: #0e0e16;
    border: 1px solid hotpink
}

.sphere:hover .pop-sphere {
    left: 95px;
    opacity: 1;
    transition: all .3s;
}

/* --- PAY --- */

/* Caja */
.cdk-overlay-dark-backdrop {
    background-color: #0e0e16e1;
    background-blend-mode: multiply;
  }
@media only screen and (max-width:767px){
  /* .boton{
    display: block !important;
    position: fixed;
    top: 12%;
    left: 65%;
    z-index: 10000;
    } */
    .boton{
    display: block !important;
    position: fixed;
    top: 12%;
    left: 91%;
    z-index: 10000;
    }
    .navbar {
        padding: 0;
    }
    .logoini {
        max-width: 33%;
    }
    .parisienne{
        font-size: 35px;
    }
    .navbar .navbar-brand{
        font-size: 33px;
    }  
}


/* --- FORMS MOVIES -- */

.form-movie{
    h1{
        font-size: 50px;
    }
    .title-center{
        text-align: center;
    }

    mat-label{
        color: white;
    }

    input{
        color: white;
    }
    
    .container{
        width: 50%;
    }
   
        
    .mat-form-field-infix{
        color: white;
    }
    
    .btn-center{
        margin-top: 20px;
        width: 100%;
    }

    #avatarMovie {
        display: none;
    }

    .movieImg {
        background-color: transparent;
        border: none;
        font-size: 20px;
        color: #f982ee;
        text-shadow: 0px 0px 7px #e02fcb;
        padding: 0 10px;
        transition: all .5s;
    }
    #avatarMovie:hover,
    .movieImg:hover {
    cursor: pointer;
        font-size: 25px;
        border-bottom: 1px solid #f982ee;
    }

    .movie-img{
        align-items: center;
        padding-top: 0;
        width: 150px;
        height: 190px;
    
        #avatar {
            display: none;
        }

               
        .profileImg {
            background-color: transparent;
            border: none;
            font-size: 16px;
            color: #f982ee;
            text-shadow: 0px 0px 7px #e02fcb;
            padding: 0 10px;
            transition: all .5s;
        }
        #avatar:hover,
        .profileImg:hover {
        cursor: pointer;
            font-size: 17px;
            border-bottom: 1px solid #f982ee;
        }
        
        img {
            padding: 2px;
            margin: 2px;
            object-fit: cover;
            margin-bottom: 11px;
            border: 1px solid #b3ff66;
            box-shadow: 0px 0px 17px #71db07;
        }
    
        .continer-img-movie{
            width: 150px;
            height: 190px;
            overflow: hidden;
            margin: 10px;
            position: relative;
            border: 1px solid #b3ff66;
            box-shadow: 0px 0px 17px #71db07;
    
            img{
                position:absolute;
                left: -100%;
                right: -100%;
                top: -100%;
                bottom: -100%;
                margin: auto;
                min-height: 100%;
                min-width: 100%;  
                border: 1px solid #b3ff66;
                box-shadow: 0px 0px 17px #71db07;
            }
            
        }
        
    }
}
//   LISTA DE PELICULAS

.list {
    .img-title-popular {
        width: 100%;
        background-image: url(assets/img/titles/masvistos.svg);
        min-height: 200px;
        background-repeat: no-repeat;
        background-position: top center;
        background-size: inherit;
        margin: 17px 0;
    }

    .img-title-recientes {
        width: 100%;
        background-image: url(./assets/img/titles/agregadas.svg);
        min-height: 200px;
        background-repeat: no-repeat;
        background-position: top center;
        background-size: inherit;
        margin: 17px 0;
    }

    .img-title-favs {
        width: 100%;
        background-image: url(./assets/img/titles/favoritas.svg);
        min-height: 200px;
        background-repeat: no-repeat;
        background-position: top center;
        background-size: inherit;
        margin: 17px 0;
    }
    
    p, h3 {
    color: white;
    }
    .carousel {
        width: 90%;
        height: 500px;
        margin: 0 15px;
        background: transparent;
    }

    .carousel-item {
        width: 85% !important;
        margin: auto !important;
        height: 80vh;
        flex-direction: row;
        &:focus {
            outline: transparent !important;
        }
    }

    .active:focus {outline: transparent !important;}
    
    .carousel-inner {
        padding: 20px 80px;
        display: flex;
        justify-content: space-between;
        &:focus {
            outline: transparent !important;
        }
    }
    
    .card-cont {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    .card {
        border-radius: 0px;
        width: 250px;
        height: 350px;
        border: 1px solid #7ee9f3;
        box-shadow: 0px 0px 7px #1ba6b3;
        font-size: 14px;
        background-color: transparent;
    }
    
    .carousel-control-prev,
    .carousel-control-next {
        width: 50px;
        height: 500px; 
    }
    
    .movieImage {
        height: 350px;
        width: 100%;
        background-blend-mode: multiply;
        background-color: white;
        background-position: center;
        background-size: cover;
        transition: all .4s;
    }
    
    .movieImage:hover {
        background-color: #37374f;
    }
    
    .movieImage:hover .detailsMovie {
        opacity: 0.9;
    }
    
    .bg-black-blue {
        margin-bottom: 0 !important;
        padding: 15px !important;
        background-color: transparent !important;
        height: 350px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    .detail-movie {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .detailsMovie {
        opacity: 0;
    }
    
}

/* Pop-up */

.popup {
    padding: 17px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    color: white;

    .darthmini {
        width: 20%;
    }
  
    h3 {
      font-family: 'Share Tech' !important;
    }
  }
  
  

