
<div *ngIf="!movieService.moviePlay">
    <p>DEBES SELECCIONAR UNA PELÍCULA PARA VER</p>
    <button class="btn btn-primary" (click)="back()">Regresar</button>
</div> 
<div class="peli" *ngIf="movieService.moviePlay">
    <div class="tituloPeli">
        <h1 class="text-nblue">{{movieService.moviePlay.title}}</h1>
        <h3 class="text-npink">{{movieService.moviePlay.type}} | Ciencia Ficción
       <button class="btn btn-primary"style="border: none;"><i class="fas fa-heart-broken"></i></button>
            <button class="btn btn-primary"style="border: none;"><i class="fas fa-heart"></i></button>
            <button class="btn btn-primary"style="border: none;"><i class="fas fa-plus"></i></button>
   </h3>
    </div>
        <video class="video" id="my_video_1" class="video-js vjs-default-skin" width="80%" height="auto"
        controls preload="none" data-setup='{ "aspectRatio":"640:267", "playbackRates": [1, 1.5, 2] }'>
        <source src="{{url+'get-file-movie/'+movieService.moviePlay.movie}}" type='video/mp4' />
        
    </video>
</div>
