<div class="loginForm">
  <div class="img-title">
    <img src="assets/img/titles/iniciarsesion.svg">
  </div>
  <form [formGroup]="formLogin" (ngSubmit)="logIn()" autocomplete="off">

    <p class="hint"> Usuario de pruebas: <br> admin@pizzamovie.co : admin </p>
    <mat-form-field class="inputForm">
      <mat-label class="text-nwhite">Correo electrónico</mat-label>
      <input matInput placeholder="E-mail" formControlName="email" required>

      <mat-error *ngIf="formLogin.controls.email.errors?.required">
        <p class="text-nerror">Ingresa un correo para continuar</p>
      </mat-error>
      <mat-error *ngIf="formLogin.controls.email.errors?.pattern">
        <p class="text-nerror">Correo invalido</p>
      </mat-error>
    </mat-form-field>

    <mat-form-field class="inputForm">
      <mat-label class="text-nwhite">Contraseña</mat-label>
      <input matInput formControlName="password" type="password">
      <mat-error *ngIf="formLogin.controls.password.errors?.required">
        <p class="text-nerror">Ingresa una contraseña para continuar</p>
      </mat-error>
    </mat-form-field>
    <p class="text-nerror">{{messageError}}</p>
    <button mat-button type="submit" class="btn btn-primary"> Iniciar Sesión </button>
  </form>
</div>
