.fondo{
    background-image: url("../../../assets/img/prevbg.jpg");
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    overflow-x: hidden;
}

.container{
    height: calc(100% - 50px);
    width: 100%;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12,1fr);
}
.logo{
    margin-top: 20px;
    grid-column: 5/9;
    grid-row: 2/7;
}

.textoPromocional{
    text-align: center;
    grid-column: 4/10;
    grid-row: 6/11;
}

.btnRegistro{
    display: block;
    display: none;
}


@media screen and (max-width: 470px) {
    .logo{
        grid-column: 3/11;
        grid-row: 4/8;
    }
    .btnRegistro{
        display: flex;
        grid-column: 5/10;
        grid-row: 7;
        margin-left: 13px;
    }
}
@media screen and (max-width: 768px) {
    .logo{
        grid-column: 4/10;
        grid-row: 3/7;
    }
    .textoPromocional{
      grid-row: 6/11;
      grid-column: 4/10;
    }
    .h1, h1{
        font-size: 1.5rem !important;
    }
}
