<div class="fondo">
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-8 padding">
        <div class="logo">
          <img src="../../../assets/img/logopizza-03.png" width="20%" class="img-fluid">
          <img src="../../../assets/img/titles/pizzawars.svg" width="40%" class="img-fluid">
        </div>
        <div class="textoPromocional">
          <h1 class="text-nblue">Mientras disfrutas de nuestro contenido del otro mundo, <span class="text-nyellow">que la pizza te acompañe.</span></h1>
          <button class="btn btn-primary btn-lg" (click)="registro()">Regístrate</button>
        </div>
      </div>
    </div>
  </div>
</div>
