<div class="container">
    <div class="row">
        <div class="col p-3">
            <img src="../../../assets/img/logo.svg" alt="" class="logoini">
            <h1 class="display-3">Bienvenido a Pizza Movie</h1>
            <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. In doloribus doloremque facere
                assumenda vitae! Et molestias, tenetur iure impedit est deleniti perferendis repellendus optio
                perspiciatis cumque maiores voluptas nulla fugit.</p>
            <hr class="my-2">
            <h2>Efectos</h2>
            <p class="text-npink">Neón rosado</p>
            <p class="text-nblue">Neón azul</p>
            <p class="text-ngreen">Neón verde</p>
            <p class="text-norange">Neón naranja</p>
            <p class="text-nyellow">Neón amarillo</p>
            <p class="text-nwhite">Neón blanco</p>
            <button class="btn bg-npink m-3">Rosado</button>
            <button class="btn bg-nblue m-3">Azul</button>
            <button class="btn bg-ngreen m-3">Verde</button>
            <button class="btn bg-norange m-3">Naranja</button>
            <button class="btn bg-nyellow m-3">Amarillo</button>
            <button class="btn bg-nwhite m-3">Blanco</button>
            <p class="lead">
                <a class="btn btn-primary btn-lg bg-nblue text-nblue" href="#!" role="button">btn-primary</a>
            </p>
        </div>
    </div>
</div>