<!-- Header -->
<div class="container-fluid mat-toolbar">
    <div class="row">
            <nav class="navbar">
                    <div class="col-md-3 d-flex justify-content-start">
                            <a class="navbar-brand" href="">[Logo]</a>
                    </div>
                    <div class="col-md-9 d-flex justify-content-end align-items-center">
                            <img src="../assets/img/user-prof-mars.jpg" alt="">
                            <p class="text-ngreen mb-0 mr-4">Hola, humano visitante</p>
                            <button class="btn btn-primary btn-lg">Iniciar/cerrar sesión</button>
                    </div>
            </nav>
    </div>
</div>
