/* LOGOUT */

.logOutConfirm{
    border: 1px solid white;
    padding: 15px;
    background-color: black;
    position: absolute;
    z-index: 4;
    right: 5px;
    top: 70px;
}
@media only screen and (max-width:767px){
    .logOutConfirm{
        right: 0;
        left: 0;
        top: 70px;
        padding: 2rem;
    }
}
