<div class="container">
    <div class="row">
        <div class="col-12">
            <img src="../../../assets/img/titles/pizza.svg"  class="titulo img-fluid mx-auto d-block"
            alt="título pide tu pizza">
        </div>
    </div>

    <div class="divmayor">
        <div class="div1">
            <img src="../../../assets/img/pizzaBox.png" class="pizzaImg img-fluid mx-auto d-block">
        </div>

        <div class="div2">

           <form class="pizzaForm">
                        <label><h4 class="text-ngreen">La masa</h4></label>
                            <select id="tipoMasa" class="inputForm select">
                            <option value="0">Seleccione</option>
                            <option value="1">Tradicional</option>
                            <option value="2">Delgada</option>
                        </select>
                        <label><h4 class="text-nblue">El sabor</h4></label>
                        <select id="saborPizza" class="inputForm select">
                            <option value="0">Seleccione</option>
                            <option value="1">Hawaiana</option>
                            <option value="2">Pollo con champiñones</option>
                            <option value="3">Carnes</option>
                            <option value="4">Méxicana</option>
                            <option value="5">Colombiana</option>
                        </select>
                        <label><h4 class="text-norange">El tamaño</h4></label>
                        <select id="tamañoPizza" class="inputForm select">
                            <option value="0">Seleccione</option>
                            <option value="1">Personal (4 porciones)</option>
                            <option value="2">Mediana (8 porciones)</option>
                            <option value="3">Familiar (12 porciones)</option>
                            <option value="4">ExtraFamiliar (16 porciones)</option>
                        </select>
                        <div class="botones botones--compra">
                            <button class="boton">Pedir</button>
                            <button class="boton">Cancelar</button>
                        </div>
            </form>
        </div>
    </div>
</div>
