<div class="block" *ngIf="edit">
</div>
<div class="row list-edit">
    <div class="col-11">
        <div class="row">
            <div class="col-4" *ngFor="let movie of storageService.movies">
                <mat-card class="card">
                    <mat-card-header>
                        <div mat-card-avatar class="header-image"></div>
                        <mat-card-title class="text-npink">{{movie.title}}</mat-card-title>
                        <mat-card-subtitle class="text-nblue">{{movie.type}}</mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-content>
                        <div class="row">
                            <div class="col-5 offset-1">
                                <img mat-card-image src="../../../../../assets/img/movie.jpg">
                            </div>
                            <div class="col-5">
                                {{movie.description}}
                            </div>
                        </div>
                    </mat-card-content>
                    <mat-card-actions>
                        <button class="btn btn-primary" (click)="openEdit(movie)">
                            Editar
                            <i class="fas fa-edit"></i>
                        </button>
                        <button class="btn btn-primary" (click)="delete(movie)">
                            Eliminar
                            <i class="fas fa-trash"></i>
                        </button>
                    </mat-card-actions>
                </mat-card>
                <div class="edit" *ngIf="edit?._id==movie._id">
                    <div class="card-edit">
                        <textarea id="text-a"></textarea>
                        <div class="row">
                            <div class="col-6">
                                <button class="btn btn-primary" (click)="acept()">Aceptar</button>
                            </div>
                            <div class="col-6">
                                <button class="btn btn-primary" (click)="cancel()">Cancelar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>