<div class="block" *ngIf="edit">
    <div class="edit">
        <div class="card-edit">
            <textarea id="text-a"></textarea>
            <div class="row">
                <div class="col-6">
                    <button class="btn btn-primary" (click)="acept()">Aceptar</button>
                </div>
                <div class="col-6">
                    <button class="btn btn-primary" (click)="cancel()">Cancelar</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row list-edit">
    <div class="col-11">
        <div class="row">
            <div class="col-4" *ngFor="let movie of storageService.movies">
                <mat-card class="card bg-nwhite">
                    <mat-card-header>
                        <mat-card-title class="h3 text-npink">{{movie.title}}</mat-card-title>
                        <mat-card-subtitle class="lead text-white">Categoría: {{movie.type}}</mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-content>
                        <div class="row">
                            <div class="col-5 offset-1">
                                <img mat-card-image src="../../../../../assets/img/movie.jpg">
                            </div>
                            <div class="col-5 p-0">
                                <h4>Sinopsis</h4>
                                <p>{{movie.description}}</p>
                            </div>
                        </div>
                    </mat-card-content>
                    <mat-card-actions>
                        <button class="btn btn-primary mb-3" (click)="openEdit(movie)">
                            Editar
                            <i class="fas fa-edit"></i>
                        </button>
                        <button class="btn btn-primary" (click)="delete(movie)">
                            Eliminar
                            <i class="fas fa-trash"></i>
                        </button>
                    </mat-card-actions>
                </mat-card>
            </div>
        </div>
    </div>
</div>