<div id="sidebar-wrapper">
        <div class="list-group list-group-flush">
                <div *ngFor="let button of configService.menu">
                        <button class="list-group-item list-group-item-action "
                                *ngIf="button.auth" [ngClass]="{'text-npink': button.visible, 'text-nwhite': !button.visible}"
                                (click)="viewComponent(button)">
                                <div class="row">
                                        <div class="col-12">
                                                <i [ngClass]="['fas', button.class]"></i>
                                        </div>
                                        <div class="col-12">
                                                {{button.title}}
                                        </div>
                                </div>
                        </button>
                </div>
        </div>
</div>